<include href="views/header.html"></include>
<body>
    <div class="container">
        <h1>Food Order Continued</h1>

        <form method="post" action="summary">


            <label class="col-sm-2 control-label">Select condiments
            </label>
            <div class="col-sm-4">
                <br>
                <repeat group="{{ @condiments }}" value="{{ @condiment }}">
                    <input type="radio" name="conds" value="{{ @condiment }}" id="{{ @condiment }}">
                    <label>{{ ucfirst(@condiment) }}
                    </label><br>
                </repeat>
            </div>

            <input type="submit" value="Next >>">
        </form>
    </div>
</body>
</html>