<include href="views/header.html"></include>
<body>
    <div class="container">
        <h1>Food Order</h1>
        <form method="post" action="order2">

            <label>What would you like to order?
                <input type="text" name="food">
            </label><br>

            <label class="col-sm-2 control-label">Select a meal
            </label>
            <div class="col-sm-4">
                <br>
                <repeat group="{{ @meals }}" value="{{ @meal }}">
                    <input type="radio" name="food[]" value="{{ @meal }}" id="{{ @meal }}">
                    <label>{{ ucfirst(@meal) }}
                    </label><br>
                </repeat>
            </div>

            <input type="submit" value="Next >>">
        </form>
    </div>

</body>
</html>